.carousel .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.slide-image {
  width: 40vw;
  min-height: 80vh;
}

.slide-image>img {
  width: 20vw;
  min-height: 50vh;
}

.slide-text {
  width: 40vw;
  font-size: 1.1rem;
  text-align: justify;
}

.container-historias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 80vh;
  background-image: url("../../public/backgrounds/historias.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

}

.container-historias::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.87;
  mix-blend-mode: multiply;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  filter: grayscale(100%);
  z-index: 1;
}

.container-historias>h1 {
  z-index: 10;
  position: relative;
  color: #f7f7f7;
  text-align: center;
}

.container-carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;

  position: relative;
  overflow: hidden;
}

.carousel {
  z-index: 10;
  position: relative;
  color: #f7f7f7;
  font-size: 0.7rem;
  min-height: 80vh;
}

.swiper-button-next {
  color: red;
}

/* Estilizando a seta esquerda (anterior) */
.swiper-button-prev {
  color: red;
}

.swiper-pagination-bullet {
  background-color: gray;
}


.swiper-pagination-bullet-active {
  background-color: red;
}

@media (max-width: 768px) {

  /* Ajustes no carrossel */
  .carousel .swiper-slide {
    flex-direction: column;
    gap: 5px;
  }

  .slide-content {
    flex-direction: column;

    width: 90vw;
    min-height: auto;
  }

  .slide-image {
    width: 80vw;
    min-height: auto;
  }

  .slide-image>img {
    display: none;
  }

  .slide-text {
    width: 90vw;
    font-size: 0.9rem;
    text-align: justify;
    margin-bottom: 10px;
  }

  /* Container das histórias */
  .container-historias {
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
  }

  .container-historias>h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  /* Container do carrossel */
  .container-carrossel {
    flex-direction: column;
    min-height: 60vh;
    max-width: 100vw;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
  }

  .carousel {
    font-size: 1rem;
    min-height: 60vh;
    width: 90vw;
  }

  /* Swiper pagination e botões */
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background-color: red;
  }
}